body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fbfbfb;
    font-size: 16px;
    color: rgb(30, 31, 59);
    font-family: "Karla", sans-serif;
}

h1,
h2,
h3 {
    font-family: "STIX Two Math", serif;
}

main,
.header,
.footer {
    max-width: 50em;
    margin: auto;
    border-left: 1px solid #e0e0e0;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.footer {
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.footer .footer-left {
    margin-right: 10px;
}

.footer .footer-left, .footer .footer-right {
    white-space: nowrap;
}

main {
    flex: 1;
    padding: 1rem 2rem 2rem 2rem;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

b {
    font-weight: 600;
}

img {
    width: 100%;
}

.link {
    background-color: rgb(255, 250, 224);
    text-decoration: underline;
}

.link:hover {
    background-color: rgb(255, 236, 224);
}

p {
    margin: 1rem 0;
    line-height: 1.4rem;
}

.home-container {
    flex: 1;
}

.home-container > ul.sumup-list {
    list-style: inside;
    margin-bottom: 2rem;
}

.home-container > ul.sumup-list > li {
    margin: 1rem 0;
}

.home-container .main-image {
    width: 100%;
}

.home-container .main-image > img {
    width: 100%;
    object-fit: cover;
    max-height: 500px;
}

.photo-album > img, .photo-album > .images-row {
    margin-bottom: 5px;
}

.images-row {
    display: flex;
    flex-wrap: nowrap;
}

.images-row > img:not(:last-child) {
    margin-right: 5px;
}

.images-row.images-row-2 img {
    width: calc((100% - 5px) * 0.5);
}

.images-row.images-row-3 img {
    width: calc((100% - 10px) * 0.3332);
}

.list {
    list-style: inside;
}

.list > li {
    margin: 10px 0;
}

.invisible {
    position: absolute;
    top:0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}

@media screen and (max-width: 1000px) {
    main, .header, .footer {
        border-left: none;
    }
}

@media screen and (max-width: 500px) {
    .footer > .footer-right {
        display: none;
    }
}
