.writing-header {
    border-bottom: solid 1px #e0e0e0;
    padding-bottom: 10px;
}

ul.writing-posts-list {
    margin: 10px 0;
    width: 100%;
}

ul.writing-posts-list > li > a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: 8px 0;
    width: 100%;
}

ul.writing-posts-list .list-item-left {
    text-overflow: ellipsis;
    overflow: hidden; 
}

ul.writing-posts-list .list-item-right {
    margin-left: 10px;
}

ul.writing-posts-list .list-item-left, ul.writing-posts-list .list-item-right {
    white-space: nowrap;
}

ul.writing-posts-list > li > a:hover {
    background-color: rgb(222, 214, 253);
    
}