<div class="home-container">

    <ul class="sumup-list">
        <li>I live in Paris, but was born in <a class="link" href="https://fr.wikipedia.org/wiki/Golfe_du_Morbihan" about="_blank">Brittany</a>.</li>
        <li>I do software development for a Parisian startup called <a class="link" href="https://manadge.com" about="_blank">Man<i>ad</i>ge</a>.</li>
        <li>I build the front-end of a SAAS web platform. For more info about what I do, check out <a class="link" href="#" about="_blank">my resume</a>.</li>
        <li>I'm into data visualization, and its use in artistic projects. I also own a supposedly <a class="link" href="https://www.instagram.com/datadesignmeasheep/" about="_blank">dataviz-related instagram account</a>.</li>
        <li>I have been <a class="link" href="writing.html">writing</a> about dataviz and tech-related topics.</li>
        <li>I had the chance to see one of my works being shortlisted in the <a rel="noreferrer" href="https://www.informationisbeautifulawards.com/showcase/3920-clubbing-feels" class="link" target="_blank">Information Is beautiful Awards in 2019.</a></li>
    </ul>

    <div class="main-image">
        <img src="https://live.staticflickr.com/65535/51340377602_e4e6e661b5_b.jpg" alt="Taipei view from Tamsui">
    </div>

    <p>
        I used to buy water bottles from a brand whose slogan is <a class="link" href="https://www.youtube.com/watch?v=9ryYKjB5e7c">沒事多喝水</a>. Google translates it by "Drink plenty of water".
    </p>

    <p>
        Some things in life are more important than others. « 沒事 is for example when you have urgent things to do and are scared, but then you find out that you are fine », my Taiwanese friend Carol once explained to me. Drinking water is essential, and if it’s a way to realize that everything is fine actually, I’ll try to drink more.
    </p>
</div>