<div class="home-container">
    <p>
        I live in Paris, and grew up in <a class="link" href="https://fr.wikipedia.org/wiki/Golfe_du_Morbihan" about="_blank">Brittany</a>. I do web front end development in Paris (see my <a class="link" href="https://guillaumemeigniez.me/images/resume_guillaume_meigniez.pdf" about="_blank">resume</a>). I'm into data visualization, and its use in artistic projects. I also own a supposedly <a class="link" rel="noreferrer" href="https://www.instagram.com/datadesignmeasheep/" about="_blank">dataviz-related instagram account</a>. I have been <a class="link" href="writing.html">writing</a> about dataviz and tech-related topics.
    </p>

    <div class="main-image">
        <img src="https://live.staticflickr.com/65535/52341167159_b7f104c352_c.jpg" alt="Naples multicolor buildings facing the sea seen from a terrace.">
    </div>

    <p>
        I used to buy water bottles from a brand whose slogan is <a class="link" href="https://www.youtube.com/watch?v=9ryYKjB5e7c">沒事多喝水</a>. Google translates it by "Drink plenty of water".
    </p>

    <p>
        Some things in life are more important than others. « 沒事 is for example when you have urgent things to do and are scared, but then you find out that you are fine », my Taiwanese friend Carol once explained to me. Drinking water is essential, and if it’s a way to realize that everything is fine actually, I’ll try to drink more.
    </p>
</div>