<%- css('./photos.css') %>

<div class="photos-header">
    <h2>Photo albums</h2>
</div>
<ul class="photos-posts-list">
    <% site.categories.findOne({name: 'photos'}).posts.sort('date', -1).each(function(post, i){%>
        <li class="photos-posts-list-item">
            <a href="<%= url_for(post.path) %>">
                <div class="list-item-left"><%= post.title %></div>
                <div class="list-item-right"><%= time(post.date, 'MMM Do YYYY') %></div>
            </a>
        </li>
    <% }) %>
 </ul>