<%- css('./navbar.css') %>

<h1 class="nav-title">Guillaume M</h1>
<nav class="main-nav" aria-label="Main navigation">
    <ul class="sidebar">
        <li>
            <a href="/index.html" class="<% if(is_current('index.html')) { %>active<% } %>">About</a>
        </li>
        <li>
            <a href="/writing/index.html" class="<% if(is_current('writing/index.html') || (is_post() && url.includes('writing'))) { %>active<% } %>">Writing</a>
        </li>
       <!--  <li>
            <a href="/sewing/index.html" class="<% if(is_current('sewing/index.html') || (is_post() && url.includes('sewing'))) { %>active<% } %>">Sewing</a>
        </li>
        <li>
            <a href="/photos/index.html" class="<% if(is_current('photos/index.html') || (is_post() && url.includes('photos'))) { %>active<% } %>">Photos</a>
        </li> -->
    </ul>
</nav>